* {
    box-sizing: border-box;
}

header {
    display: flex;
    background-color: darkslategrey;
    color: white;
    height: 180px;
    align-content: center;
    font-size: 35px;
}

span {
    color: white;
}

.active-link {
    background-color: black;
}